        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        *{font-family: "Roboto", sans-serif;}

        body {
            font-family: "Roboto", sans-serif;
            background-color: #80644b;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
        .login-container {
            background-color: #997c62;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 93%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #492300;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .login-container button:hover {
            background-color: #a06e45;
        }
        .login-container .forgot-password {
            display: block;
            text-align: center;
            margin-top: 10px;
        }
        .logo-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .logo-container img {
            width: 200px; /* Define um tamanho para a imagem */
            height: 200px; /* Define um tamanho para a imagem */
            border-radius: 50%; /* Faz a imagem ficar redonda */
            object-fit: cover; /* Garante que a imagem se ajuste bem ao contêiner */
        }
        
            
        .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
        }

        .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        }

        .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

        .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        }

        .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        }

        .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
        }

        .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
        }

        .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
        }

        .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
        }

        .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
        }

        .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
        }

        .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
        }
        /* Estilo da barra superior */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #26180c;
            padding: 10px 20px;
            color: white;
            position: fixed; /* Fixa a navbar no topo da página */
            top: 0;
            left: 0;
            right: 0; /* Expande a navbar para ocupar toda a largura */
            z-index: 1000; /* Garante que fique acima de outros elementos */
        }

        /* Estilo do menu de navegação */
        .navbar-nav {
            display: flex;
            align-items: center;
            position: relative; /* Necessário para o posicionamento dos submenus */
        }

        /* Estilo das opções do menu */
        .nav-link {
            color: white;
            padding: 10px 25px;
            text-decoration: none;
            position: relative; /* Necessário para posicionar o submenu */
        }

        /* Estilo do menu dropdown */
        .dropdown-menu {
            display: none; /* Esconde o menu por padrão */
            position: absolute; /* Para posicionar o submenu em relação ao item pai */
            background-color: #4a3d32; /* Cor de fundo do menu */
            border: none; /* Remove a borda padrão */
            z-index: 1000; /* Garante que o menu fique acima de outros elementos */
            padding: 0; /* Remove o preenchimento padrão */
            margin: 0; /* Remove a margem padrão */
            top: 100%; /* Posiciona o submenu logo abaixo do item pai */
            left: 0; /* Alinha o submenu à esquerda do item pai */
            width: 150px; /* Largura fixa para o submenu */
            border-top: 1px solid #495057; /* Borda superior para separar o submenu do item pai */
            list-style-type: none; /* Remove as bolinhas do submenu */
        }

        /* Exibir o dropdown quando a classe 'show' for adicionada */
        .dropdown-menu.show {
            display: block; /* Mostra o menu */
        }

        /* Exibe o menu dropdown ao clicar no item pai */
        .nav-item.active .dropdown-menu {
            display: block; /* Mostra o menu quando o item pai está ativo */
        }

        /* Estilo das opções do submenu */
        .dropdown-item {
            color: white; /* Cor do texto das opções do submenu */
            padding: 10px 15px; /* Espaçamento interno das opções */
            text-decoration: none; /* Remove o sublinhado */
            display: block; /* Faz as opções ocuparem toda a largura do submenu */
        }

        /* Estilo ao passar o mouse sobre as opções do submenu */
        .dropdown-item:hover {
            background-color: #495057; /* Cor de fundo ao passar o mouse */
        }

        /* Estilo do conteúdo principal */
        .content {
            margin-top: 60px; /* Espaçamento para evitar que o conteúdo fique atrás da navbar */
            padding: 20px; /* Espaçamento interno */
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
        }

        .content::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/TechPeanut/TechPeanut.Web/src/img/logoLogin.jpg');
            background-size: cover;
            background-position: center;
            filter: blur(10px);
            z-index: 0; /* Mantém o background atrás */
            opacity: 0.7; /* Controle de opacidade para deixar mais suave */
        }

        .logo-container-blur {
            width: 100%; /* Mesmo com essa largura, o item será centralizado */
            filter: blur(3px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-container {
            width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-container img {
            max-width: 100%;
            height: auto;
        }

        /* Dropdown Button */
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}

        /* Cards ficam à frente */
        .cards-container {
            position: relative;
            z-index: 1;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
        
        /* Estilos do Card de Tarefas */
        .card-task {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 350px;
            padding: 20px;
            text-align: center;
            transition: transform 0.3s ease, border 0.3s ease;
            border: 4px solid #492300;
        }
        
        /* Estilos do Card de Usuário */
        .card-user {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 450px;
            margin: 20px auto;
            border: 4px solid #492300;
        }
        
        /* Informações do Usuário no Card */
        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .user-photo {
            width: 60px;
            height: 80px; /* Tamanho 3x4 */
            border-radius: 4px;
            object-fit: cover;
            margin-right: 15px;
            border: 2px solid #f0b241; /* Borda azul ao redor da foto */
        }
        
        .user-details {
            display: flex;
            flex-direction: column;
        }
        
        .user-name {
            font-size: 25px;
            font-weight: bold;
            margin: 0;
        }
        
        .user-role {
            font-size: 20px;
            color: gray;
        }
        
        /* Estilo dos Cards */
        .card-task:hover, .card-user:hover {
            transform: translateY(-5px);
            border-color: #4d3e31; /* Efeito de borda ao passar o mouse */
        }
        
        .card-title {
            font-size: 24px;
            margin-bottom: 10px;
            margin-top: -10px;
        }
        
        .card-description {
            font-size: 14px;
            margin-bottom: 15px;
            color: #555;
            text-align: center; 
        }
        
        .card-tasks-itens {
            font-size: 16px;
            margin-bottom: 20px;
            color: #000000;
        }
        
        /* Estilo das Tarefas */
        .card-tasks p {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            margin-bottom: 10px;
            color: #000000;
        }
        
        .task-deadline {
            font-size: 14px;
            color: #492300;
            font-weight: bold;
        }
        
        .card-tasks-itens span {
            margin-right: 10px;
        }
        
        /* Estilo dos Botões */
        .card-button {
            background-color: #492300;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
        }
        
        .card-button:hover {
            background-color: #4d3e31;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
        
        /* Responsividade */
        @media (max-width: 768px) {
            .cards-container {
                flex-direction: column;
                gap: 15px;
            }
        
            .card-task {
                width: 90%; /* Reduz a largura dos cards */
            }
        
            .card-user {
                width: 90%;
            }
        }

              /* Estilo para o container de cards de usuários */
      .users-cards-container {
        display: flex;
        flex-wrap: wrap; /* Permite que os cards quebrem linha se não couberem */
        justify-content: center; /* Centraliza os cards na linha */
        gap: 20px; /* Espaçamento entre os cards */
        padding: 20px; /* Espaçamento interno do container */
        z-index: 10; /* Eleva o card acima de outros elementos */
    }

        /* Estilo do card de usuário */
    .users-card {
        background-color: white;
        border-radius: 8px; /* Bordas arredondadas */
        border: 4px solid transparent; /* Define a borda transparente para usar com o gradiente */
        border-image: linear-gradient(45deg, #db7114, #2e2116) 1; /* Gradiente na borda */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra mais intensa e opaca */
        padding: 20px; /* Espaçamento interno do card */
        width: 200px; /* Largura do card */
        text-align: center; /* Centraliza o texto dentro do card */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeitos de transição */
    }

    
    /* Efeito ao passar o mouse sobre o card de usuário */
    .users-card:hover {
        transform: translateY(-5px); /* Leve elevação ao passar o mouse */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
    }

    /* Estilo da foto do usuário */
    .users-photo {
        width: 80px; /* Largura da foto */
        height: 80px; /* Altura da foto */
        border-radius: 50%; /* Bordas arredondadas para formar um círculo */
        object-fit: cover; /* Cobre o espaço sem distorcer */
        margin-bottom: 10px; /* Espaçamento abaixo da foto */
    }

    /* Estilo para as informações do usuário */
    .users-info {
        margin-bottom: 10px; /* Espaçamento abaixo das informações do usuário */
    }

    /* Nome do usuário */
    .users-name {
        font-size: 20px; /* Tamanho da fonte do nome */
        font-weight: bold; /* Negrito para destacar o nome */
        margin: 0; /* Remove margens padrão */
    }

    /* Papel ou cargo do usuário */
    .users-role {
        font-size: 16px; /* Tamanho da fonte do cargo */
        color: gray; /* Cor cinza para o texto do cargo */
    }
    
    .personal-info {
        margin: 10px 0; /* Espaçamento superior e inferior */
        font-size: 14px; /* Tamanho da fonte */
        color: #333; /* Cor do texto */
    }